# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Базы данных
*.db
*.sqlite
*.sqlite3

# .env файлы (ВАЖНО!)
.env
.env.local
.env.*.local

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log